.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer{
  position: absolute;
  bottom: 0;
  padding: 4px;
  text-align: center;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}

.main{
  text-align: center;
}

#logo{
  height: 25vh;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
